#box{
  background-color: #46626F;
  width: 775px;
  height: 550px;
  margin: 50px; 
  float:left;
}
#box2{
  background-color: #46626F;
  width: 487px; 
  height: 560px;
  margin: 50px;
  float:right;
}





















