*{
  margin:0px;
}
nav {
    font-family: 'Arial';
    background-color: #000000;
    height:120px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.but{
  background-color:#738f9c;
  margin-top:5px;
  border-radius:4px;
  border: none;
  color: white;
}

.but hover{
  background-color:#000000;
}

#cooking{
  position:absolute;
  height:120px;
  margin-top: 5px;
}


#navegador{
  margin:0px auto;
  padding-top:0px;
}

nav a {
    float: left;
    color: lightcyan;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    padding: 10px;
    font-size:20px;
   
}

nav a:hover {
    background-color: #ccc;
    color: black;
}

nav a.actual {
    background-color: #ccc;
    font-weight: bold;
    color: black;
}

img{
  height:108px;
  width:192px;
}

#salir{
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: -3%;
  margin-left:50%;
}

#casa{
  width: 65px;
  height: 65px;
  margin-top: 35%;
}

.pekka{
  background-color:white;
  display:block;
  margin:auto;
  width: 90%;
  height:70px;
  font-family: 'Fredoka One';
  font-size: 40px;
  border-radius:40px;
  padding:10px;
  text-align:center;
}


.aña{
  background-color:white;
  display:block;
  margin:auto;
  width: 90%;
  height:150px;
  font-family: 'Fredoka One';
  font-size: 40px;
  border-radius:40px;
  padding:10px;
  text-align:center;
}

.text{
  color: white;
  font-family: 'Fredoka One';
  font-size: 40px;
  margin: 2%;
  text-align:center;
}
