{% extends 'base.html' %}
{% block ayuda %}

<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{url_for('static', filename = 'ayuda.css')}}">

<p>
<div id="container">
  
  
  <h1 id=eve>Preguntas Frecuentes</h1>

  <p id=ua><b>¿Para qué sirve Cooking?</b></p>
  
  <p id=uaa><b>- Sencillo, si eres de aquellas personas que no tienen mucho tiempo para fijarse que van a cocinar con lo que tienen en la heladera, o simplemente quieres sacarle provecho a algunas sobras, ¡Cooking es perfecto para ti! ya que agrega los ingredientes que tienes y busca en su base de datos posibles recetas para que cocines tu comida favorita. </b></p>

  <p id=ua><b>¿Cooking no tiene la receta que buscabas?</b></p>

  <p id=uaa><b>- En caso de no encontrar la receta que buscabas puedes hacérnoslo saber en la sección "Danos tu opinión", para que nosotros podamos agregarla en un futuro.  </b></p>

  <p id=ua><b>¿Puedo iniciar sesión?</b></p>

  <p id=uaa><b>- No, el inicio de sesión esta disponible solamente para los desarrolladores.</b></p>

  <p id=ua><b>En caso de tener una pregunta más específica háganoslo saber</b></p>
  
  
  
  
</div>
{% endblock %}



