<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type='text/css' href="{{url_for('static', filename = 'styles.css')}}">
</head>
<body>
{% block navegacion %}
<div id="cooking"><a href="/"><img src="static/img/3.png"></div></a>
<div id="tags"></div>
<header>
  <nav>
    <div id="messi">
      <input id="barra"></br>
      <button id="buscar" onclick="Busqueda()">Buscar</button>
    </div>
    <div id="navegador">
      <a href="{{ url_for('login') }}">Acceso a Chefs</a>
      <a href="{{ url_for('ayuda') }}">Ayuda</a>
      <a href="{{ url_for('nosotros') }}">Nosotros</a>
      <a href="{{ url_for('opinion') }}">Danos tu opinión</a>
    
    </div>
  </nav>
  
</header>
{% endblock %}

{% block coso %}
{% endblock %}

{% block ayuda %}
{% endblock %}
  
{% block estilos %}
{% endblock %}

<script <script src="{{url_for('static',filename='indexBack.js')}}"></script></script>
</body>
</html>