<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type='text/css' href="{{url_for('static', filename = 'stylesChef.css')}}">
</head>
<body>
{% block navegacion %}
<div id="cooking"><a href="/"><img src="static/img/chef.png"></div></a>
<div id="tags"></div>
<header>
  <nav>
    <div id="navegador">
      <a href="{{ url_for('login') }}">Crear</a>
      <a href="{{ url_for('ayuda') }}">Modificar</a>
      <a href="{{ url_for('nosotros') }}">Eliminar</a>
      
    
    </div>
  </nav>
  
</header>
{% endblock %}

{% block coso %}
{% endblock %}

{% block ayuda %}
{% endblock %}
  
{% block estilos %}
{% endblock %}

<script  src="static/baseBack.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>


  
</body>
</html>