<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type='text/css' href="{{url_for('static', filename = 'stylesChef.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body>
{% block navegacion %}
<div id="cooking"><a href="/indexChef"><img src="static/img/chef.png"></div></a>
<div id="tags"></div>
<header>
  <nav>
    <div id="navegador">
      <a href="{{ url_for('crear') }}">Crear</a>
      <a href="{{ url_for('modificar') }}">Modificar</a>
      <a href="{{ url_for('eliminar') }}">Eliminar</a>
      <div style="padding:0px" id="salir"><a href="/"><img style="padding:0px" src="static/img/casa.png" id=casa></a></div>
     
      
    
    </div>
  </nav>
</header>
{% endblock %}

{% block coso %}
{% endblock %}

{% block ayuda %}
{% endblock %}
  
{% block estilos %}
{% endblock %}

<script  src="static/baseBack.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>


  
</body>
</html>