<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type='text/css' href="{{url_for('static', filename = 'styles.css')}}">
<title>Document</title>
</head>

{% block navegacion %}
<header>
  <img src="{{url_for('static', filename='4.png')}} " id="cooking" />
  <nav>
    <div id="messi">
      <input id="barra"></br>
    </div>
    <div id="navegador">
      <a href="{{ url_for('login') }}">Acceso a Chefs</a>
      <a href="{{ url_for('ayuda') }}">Ayuda</a>
      <a href="{{ url_for('nosotros') }}">Nosotros</a>
      <a href="{{ url_for('politicas') }}">Políticas de privacidad</a>
    </div>
    
  
  </nav>
</header
{% endblock %}

<body>
  {% block titulo %}{% endblock %}
  {% block contenido %}{% endblock %}
</body>
</html>