{% extends 'base.html' %}

{% block estilos %}
<link rel="stylesheet" type='text/css' href="{{url_for('static', filename = 'paginaIndex.css')}}"> 
{% endblock %}

{% block coso %}
<div id="container">
  <div id="box">
    <form>
    <div class="filtros">
      <div class="selectBox" onclick="showCheckboxes()">
        <select>
          <option>Filtros</option>
        </select>
        <div class="muchosSelects"></div>
      </div>
      <div id="muchasCheckbox">
        <label for="uno">
          <input type="checkbox" id="uno" />Tomate</label>
        <label for="dos">
          <input type="checkbox" id="dos" />Lechuga</label>
        <label for="tres">
          <input type="checkbox" id="tres" />Queso</label>
      </div>
    </div>
    </form>
  </div>
    <div id="box2"></div>
  <script src="/static/baseBack.js"></script>
  <script src="/static/indexBack.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</div>


{% endblock %}
  
{% if oculto %}
  


{% endif %}

  


