{% extends 'base.html' %}

{% block estilos %}
<link rel="stylesheet" type='text/css' href="{{url_for('static', filename = 'paginaIndex.css')}}"> 
{% endblock %}

{% block coso %}
<div id="container">
  <div id="box">
  </div>
    <div id="box2">
      <h1 id="nombre"></h1>
      <p id="descripcion"></p>
      <h3 id="origen"></h3>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/baseBack.js"></script>
  <script src="/static/indexBack.js"></script>
 
</div>


{% endblock %}
  
{% if oculto %}
  


{% endif %}

  


