<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename = 'login.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <title>Acceso a Chefs</title>
</head>
<body>
  <div id="salir"><a href="/"><img src="static/img/casa.png" id=casa></div></a>
  <img src="{{url_for('static', filename='img/3.png')}} " id="cooking" />
  <form action="loginChef" method='POST'>
  <input class= aña type="text" id="nombre" name="nombre" placeholder=Usuario required/><br
  <label for="password" class=pekka></label> 
  <input class= aña type="password" name= "password" id="password" placeholder=Contraseña required/><br>
  <input class= yo type="submit" id="send-signup" value="Login" />
  </form>
</body>
</html>