{% extends 'base.html' %}

{% block estilos %}
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{url_for('static', filename = 'nosotros.css')}}">

<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Bungee+Shade&family=Capriola&family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">

<p>
<div id="container">
  
  <h1 id=eve>Sobre nosotros</h1>

  <p id=uaa><b>Somos el grupo número 11 de 5to A Informática del colegio salesiano Pío IX. Nuestra objetivo con este proyecto va mas alla de aprobar las materias, queremos llevar a cabo una idea que nos parece que tiene potencial, ponernos a prueba, y ver nuestras capacidades con este tipo de trabajos. Sentimos que es nuestra oportunidad de mostrarnos como personas capaces de poder trabajar en equipo, cumpliendo con nuestras metas.</b></p>


<img class=db id =ints src="static/img/db.png">
<img class=magno id =ints src="static/img/magno.png">
<img class=mate id =ints src="static/img/mate.png">
<img class=ian id =ints src="static/img/ian.png">
<img class=fede id =ints src="static/img/fede.png">
  
{% endblock %}



