{% extends 'base.html' %}

{% block estilos %}
<link rel="stylesheet" type='text/css' href="{{url_for('static', filename = 'opinion.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
{% endblock %}

{% block coso %}
<div id="container">
<H1 id=opi>¿Qué te pareció nuestra app?</H1>
<form>
        <input  class=pekka type="email" id="name" name="input1" placeholder=Email><br>
        <input class=aña type="text" id="text" placeholder=Opinión><br>
        <input class=enviar type="submit" id="send-signup" value="Enviar" />
</form>
</div>

{% endblock %}